.event-card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.event-image {
    object-fit: cover;
    height: 200px;
}

.event-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
